
<h1 mat-dialog-title>Finalise adjudication</h1>
<div mat-dialog-content>
  <p>Thank you for participating in the adjudication process. Please give your overall impression regarding this process and the reason for your chosen entries.</p>
</div>


<div mat-dialog-actions class="uk-align-right">
  <button mat-button (click)="onCancel()">Back</button>
  <button style="background-color: #800035;color: white;" class="btn btn-sm" (click)="onConfirm()" color="primary" cdkFocusInitial>Next</button>
</div>