
<h2 class="uk-text-center">You are assigned to Group A</h2>
<hr style="margin: 0 -16px;">

<div class="uk-text-center uk-margin-large" *ngIf="entriesData?.length < 1">
  <p>No entries submitted yet</p>
</div>

<div class="uk-flex uk-flex-center text-center uk-margin uk-margin-large-bottom" *ngIf="entriesData?.length > 0">
  <div class="uk-flex-1">
    <p>Processed</p>
    <div class="judge-process">
    <h3 class="mt-0 count">{{ processedEntries }}/{{ entriesData?.length }}</h3>
  </div>
  </div>
  <div class="uk-flex-1 uk-margin-left">
    <p>Remaining</p>
    <div class="judge-process2">
    <h3 class="mt-0 count2">{{ remainingEntries }}/{{ entriesData?.length }}</h3>
    </div>
  </div>
  <div class="uk-flex-1 uk-margin-left">
    <p>Approved</p>
    <div class="judge-process3">
    <h3 class="mt-0 count3">{{ approvedEntries?.length }}/{{ entriesData?.length }}</h3>
    </div>
  </div>
  <div class="uk-flex-1 uk-margin-left">
    <p>Not Approved</p>
    <div class="judge-process4">
    <h3 class="mt-0 count4">{{ unApprovedEntries?.length }}/{{ entriesData?.length }}</h3>
    </div>
  </div>
</div>

<div class="uk-position-relative uk-visible-toggle entries-container" tabindex="-1" uk-slider="center: true;finite: false;" *ngIf="entriesData?.length > 0">
  <ul class="uk-slider-items uk-grid" uk-height-viewport="offset-top: true; offset-bottom: 30">
      <li class="uk-width-3-4 artwork-item" *ngFor="let entry of entriesData">

          <div class="uk-position-relative uk-visible-toggle" tabindex="-1" uk-slideshow="clsActivated: uk-transition-active;">
            <div class="uk-padding-small artwork-intro uk-background-muted">
              <h4>Portfolio statement</h4>
              <p *ngIf="usersIdsFromEntriesData" class="uk-margin-remove">{{ getUserDetails(entry.userId)?.comment || 'Not provided' }}</p>
            </div>
            <ul class="uk-slideshow-items">
                <li *ngFor="let item of entry.data" style="cursor: pointer;" (click)="onArtworkView(item)">
                    <img src="{{ item.imageUrl }}" alt="" uk-cover>
                    <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center uk-transition-slide-bottom artwork-caption">
                        <h3 class="uk-margin-remove">{{ item.artworkDescription || 'No title' }}</h3>
                    </div>
                </li>
            </ul>
            
            <a class="uk-position-center-left uk-position-small uk-hidden-hover uk-light" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
            <a class="uk-position-center-right uk-position-small uk-hidden-hover uk-light" href="#" uk-slidenav-next uk-slideshow-item="next"></a>
          
        </div>

        <div class="uk-button-group uk-flex uk-margin uk-light">
          <button class="uk-button uk-flex-1 btn-primary btn-yes" style="height: 50px;" (click)="castVote('YES', entry)">
            <svg class="bi bi-check-circle" width="30" height="30" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
              <path fill-rule="evenodd" d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z"/>
            </svg>
            </button>
          
          <button class="uk-button uk-flex-1 btn-primary btn-No" style="height: 50px;" (click)="castVote('NO', entry)">
            <svg class="bi bi-x-circle" width="30" height="30" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
              <path fill-rule="evenodd" d="M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z"/>
              <path fill-rule="evenodd" d="M4.146 4.146a.5.5 0 0 0 0 .708l7 7a.5.5 0 0 0 .708-.708l-7-7a.5.5 0 0 0-.708 0z"/>
            </svg>
          </button>
         <!-- <i class="fal fa-check-circle 2x"></i>
          <i class="fal fa-times-circle 2x"></i>
          -->
        </div>
      </li>
  </ul>
  <div class="uk-position-top-right top-artwork-nav">
    <a href="#" uk-slidenav-previous uk-slider-item="previous"></a>
    <a href="#" uk-slidenav-next uk-slider-item="next"></a>
  </div>
</div>

<div id="artwork-preview" uk-modal>
  <div class="uk-modal-dialog uk-modal-body uk-padding-remove uk-width-1-1">
      <button class="uk-modal-close-outside" type="button" uk-close></button>
      <div class="uk-grid-collapse uk-child-width-1-1@s uk-flex-middle" uk-grid>
        <div class="uk-background-contain artwork-preview-image" [ngStyle]="{'background-image': 'url('+ artworkOnPreview?.imageUrl +')'}" uk-height-1-1></div>
        <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center uk-light">
          <p>{{ artworkOnPreview?.artworkDescription || 'No title' }}</p>
        </div>
    </div>
  </div>
</div>


<div class="d-flex justify-content-between my-3" style="padding: 40px">
  <h4 class="my-3 text-muted overall">
Please give your overall impression regarding this process
and the reason for your chosen entries.
</h4>
</div>

<form class="form-signin" [formGroup]="viewsForm" >
  <!--
  <div class="d-flex justify-content-between my-3">
    <h3 class="my-3 text-muted">Comment</h3>
    <div class="text-right">
        <button mat-icon-button ar ia-label="Edit" (click)="toggleEditComment = !toggleEditComment">
            <mat-icon>{{ toggleEditComment ? 'close' : 'edit' }}</mat-icon>
        </button>
    </div>
    
  </div>

  <p [hidden]="toggleEditComment">{{ viewsData?.comment || 'No Comment yet' }}</p>

  <div [hidden]="!toggleEditComment">
      <mat-form-field style="width: 100%;">
          <textarea matInput #comment placeholder="Tell us about Entrie Portfolio Artwork of this year" formControlName="comment"></textarea>
      </mat-form-field>
      <div class="text-right">
          <button class="btn btn-outline-primary" [disabled]="viewsForm.pristine" (click)="saveViews()">Save</button>
      </div>
  </div>


  <div class="d-flex justify-content-between my-3">
    <h3 class="my-3 text-muted">Reason</h3>
    <div class="text-right">
        <button mat-icon-button aria-label="Edit" (click)="toggleEditReason = !toggleEditReason">
            <mat-icon>{{ toggleEditReason ? 'close' : 'edit' }}</mat-icon>
        </button>
    </div>
    
  </div>

  <p [hidden]="toggleEditReason">{{ viewsData?.reason || 'No reason added yet' }}</p>

  <div [hidden]="!toggleEditReason">
      <mat-form-field style="width: 100%;">
          <textarea matInput #reason placeholder="Tell us about Entrie Portfolio Artwork of this year" formControlName="reason"></textarea>
      </mat-form-field>
      <div class="text-right">
          <button class="btn btn-outline-primary" [disabled]="viewsForm.pristine" (click)="saveViews()">Save</button>
      </div>
  </div>

-->
<!-- New form -->
  <div class="form-group">
  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Comment" formControlName="comment"></textarea>
  </div>
  <div class="form-group">
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Reason" formControlName="reason"></textarea>
  </div>
  <div class="text-right">
    <button matInput #reason #comment class="btn btn-outline-primary" [disabled]="viewsForm.pristine" (click)="saveViews()">Submit</button>
  </div>
 <!-- End -->
</form>