
<h4>Enter competition</h4>
<div mat-dialog-content class="mt-3">

    <app-file-uploader
        class="mb-3"
        (imageUploaded)="onImageUploaded($event)"
        [fileDirectory]="'artworks'"
        [showFileName]="true"
        [buttonLabel]="buttonLabel"
    ></app-file-uploader>

    <mat-form-field class="my-3" style="width: 100%">
        <input matInput [(ngModel)]="artworkDescription" placeholder="Artwork description" required>
    </mat-form-field>
</div>

<div mat-dialog-actions class="uk-align-right">
    <button mat-button (click)="onCancel()">Cancel</button>
    <button mat-raised-button color="primary" (click)="enterCompetition()" [disabled]="!artworkDescription || !competitionEntry?.imageUrl" cdkFocusInitial>Save</button>
</div>