.no {
    border: #960528 solid 2px !important;
    margin-right: 15px;
    color: #960528;
    border-radius: 2px;
}
.yes{
    background-color: #800035;
    color: white;
    padding: 9px;
    width: 65px;
    border-radius: 2px;
}