<div class="footer-container">
    <div class="container py-5">
        <div class="row">
            <div class="col col-lg-3">
                <img src="assets/images/absa-and-sanava-logo.png" alt="">
            </div>
            <div class="col col-lg-3">
                <h5 class="footer-heading">About Us</h5>
                <a class="d-block" href="https://latelier.ftech.aws.dsarena.com/about-latelier/">About</a>
                <a class="d-block" href="https://latelier.ftech.aws.dsarena.com/contact-us/">Contact Us</a>
            </div>

            <div class="col col-lg-3">
                <h5 class="footer-heading">Legal</h5>
                <a class="d-block my-3" href="https://latelier.ftech.aws.dsarena.com/terms-of-use/">Terms of use</a>
                <a class="d-block my-3" href="https://latelier.ftech.aws.dsarena.com/privacy-policy/">Privacy Policy</a>
                <a class="d-block my-3" href="https://latelier.ftech.aws.dsarena.com/cookies-policy/">Cookies policy</a>
            </div>
            <div class="col col-lg-3">
                <p>What are you looking for?</p>
                <div class="d-flex">
                    <div>
                     <a href="https://latelier.ftech.aws.dsarena.com/?s="><input type="text" class="form-control footer-search-form" placeholder="search here..."> </a>
                    </div>
                    <div>
                        <svg class="bi bi-search" width="20" height="32" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M12.442 12.442a1 1 0 011.415 0l3.85 3.85a1 1 0 01-1.414 1.415l-3.85-3.85a1 1 0 010-1.415z" clip-rule="evenodd"></path>
                            <path fill-rule="evenodd" d="M8.5 14a5.5 5.5 0 100-11 5.5 5.5 0 000 11zM15 8.5a6.5 6.5 0 11-13 0 6.5 6.5 0 0113 0z" clip-rule="evenodd"></path>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-content">Absa Group Limited | Incorporated in the Republic of South Africa | Registration number: 1986/003934/06 | Authorised financial services and registered credit provider (NCRCP7) | JSE share code: ABG | ISIN: ZAE000255915</div>
    </div>
    <div class="footer-sliding-bar">
      
    </div>
</div>