<div class="login-container">
    <form class="form-signin" [formGroup]="form" (ngSubmit)="changePassword()">
        <h1 class="mb-3 text-center">Reset password</h1>
        <label class="">Password</label>
        <input type="password" formControlName="password" class="form-control {{ form.get('password').invalid ? 'is-invalid' : ''}}" placeholder="Password">
        <div *ngIf="form.get('password').invalid && (form.get('password').dirty || form.get('password').touched)" class="invalid-feedback">
            Password is required
        </div>

        <label class="">Confirm password</label>
        <input type="password" formControlName="confirmPassword" class="form-control {{ form.get('confirmPassword').invalid || (form.get('confirmPassword').dirty && !passwordMatch()) ? 'is-invalid' : ''}}" placeholder="Confirm password">
        <div *ngIf="form.get('confirmPassword').invalid && (form.get('confirmPassword').dirty || form.get('confirmPassword').touched)" class="invalid-feedback">
            Password is required
        </div>

        <div *ngIf="form.get('confirmPassword').dirty && !passwordMatch()" class="invalid-feedback">
            Paasword did not match
        </div>
    
    
        <button class="btn btn-lg btn-primary btn-block" [disabled]="loading || !form.valid" type="submit">
            <span *ngIf="loading" class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
            <span *ngIf="!loading">Login</span>
        </button>
    </form>
</div>