<div class="main-navbar" [ngClass]="{'overlay-menu-opened': toggleMenu, 'overlay-menu-closed': !toggleMenu}">
    <div class="container d-flex justify-content-between align-content-stretch">
        <!-- <div class="d-flex align-self-center "> -->
            <div class="align-self-center">
                <div class="hamburger hamburger--slider" (click)="toggleMenu = !toggleMenu" [ngClass]="{'is-active': toggleMenu}">
                    <div class="hamburger-box">
                      <div class="hamburger-inner"></div>
                    </div>
                </div>
               <a href="https://latelier.ftech.aws.dsarena.com"> <img class="logo ml-3" src="assets/images/Grey_LAtelier_Shoes-33.png" alt=""></a>
            </div>
            <div class="align-self-center">
                <p class="text-primary m-0" *ngIf="!loggedInUser">
                    <a href="" [routerLink]="['/login']">Login</a>
                    |
                    <a href="" [routerLink]="['/register']">Register</a>
                </p>
                <div *ngIf="loggedInUser">
                    <span class="text-primary m-0 fontWeight600" style="padding-right: 5px;">Welcome, {{loggedInUser.firstName+' '+loggedInUser.lastName}} |</span><button type="button" (click)="logout()" class="btn btn-outline-primary fontWeight600 logoutBTN" *ngIf="loggedInUser">Logout</button>
                </div>
            </div>
        <!-- </div> -->
    </div>
</div>

<div class="overlay-menu" [ngClass]="{'menu-opened': toggleMenu, 'menu-closed': !toggleMenu}">
    <div class="menu-content">
        <div>
            <a class="d-block my-3" href="https://latelier.ftech.aws.dsarena.com">Home</a>
            <a class="d-block my-3" href="https://latelier.ftech.aws.dsarena.com/about-latelier/">About</a>
            <a class="d-block my-3" href="https://latelier.ftech.aws.dsarena.com/the-competition/">The Competition</a>
            <a class="d-block my-3" href="https://latelier.ftech.aws.dsarena.com/past-artwork-and-winners/">Past Artwork and Winners</a>
            <a class="d-block my-3" href="https://latelier.ftech.aws.dsarena.com/contact-us/">Contact Us</a>
            <a class="d-block my-3" href="http://localhost:4200/#/submissions" *ngIf="loggedInUser">Adjudication</a>

        </div>
    </div>
</div>


    <!-- <app-header [loggedInUserData]="loggedInUser" ></app-header> -->
    
    <div class="alert alert-warning text-center" *ngIf="emailVerified === false" role="alert">
        Verification email has been sent to <strong>{{ loggedInUser?.email }}</strong>
    </div>
    <div class="container py-5 app-container">
        <div class="border main-container">
            <div class="p-3 inner-container">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
<!-- </mat-drawer-container> -->



<app-footer></app-footer>